<div class="jumbtron">
  <h1 class="display-4 text-center "  style=" color: #5f1cdb;margin-top: 5%;font-weight: bolder ;font-size: 400%;">Welcome To Argusoft </h1>

</div>

<br>
<br>
<div class="text-center" style="margin-top: 2%;">
  <nav>
    <a routerLink="/userlogin" routerLinkActive="active" class="p-3 mb-2 bg-primary text-white text-decoration-none">Employee Login</a>
    &nbsp;
    <a routerLink="/adminlogin" routerLinkActive="active" class="p-3 mb-2 bg-primary text-white text-decoration-none">Admin Login</a>
  </nav> 
</div>
<router-outlet></router-outlet>